header {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D89821;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

.name{
    font-weight: 300;
}