html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;

}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

.container{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right:5%;
  width: auto;
 }
 
 .landing-wrapper{
  padding-top: 120px;
 }

 .fixed-button{
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding: 20px;
}
.rounded-button{
  height: 60px;
  line-height: 80px;  
  width: 60px;  
  font-size: 2em;
  border-radius: 50%;
  background-color:red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.fa-angle-double-up{
  color: white;
  transform: translateY(-20%)
}

/* Laptops / Desktops: minimum width of 960px */
@media only screen and (min-width: 1024px) {
  .tweeter-desktop{
    display:flex;
    width: 100%;
    padding-top: 120px;
    justify-content: space-between;
  }
  .landing-wrapper{
    padding-top: 0px;
    width: 100%;
    padding-left: 5%;
  }
  .container{
    width: 100%;
  }
  .tweeter-nav{ background-color: #4056A1; }
}